[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "customknitrender"]
	path = customknitrender
	url = https://github.com/mmartinezluis/customknitrender
